<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxio">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <meta-data android:name="com.kakao.sdk.AppKey" android:value="5f58a6e44d7a4245c5866a546a2103f9"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckSchedule" />
        <activity android:name=".UpdateSchedule" />
        <activity android:name=".RecommendTrip" />
        <activity android:name=".RecruitDriver" />
        <activity android:name=".TripSchedule" />
        <activity android:name=".TripScheduleDetail" />
        <activity android:name=".NewScheduleRegion" android:label="지역선택하기"/>
    </application>

</manifest>